.nav {
    height: 55px;
    width: 92%;

    border-radius: 5px;
    background-color: rgb(94, 92, 92, 0.17);
    margin: 4px 3px 4px 4px;
    text-decoration: none;
    padding:  0 0 0 4%;
}

.nav:hover {
    background-color: rgba(103, 101, 101, 0.35);
}

.sech {
    height: 100%; 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.sechName{
    color: rgb(214, 214, 214);
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: lighter;
}

.countNN{
    color: rgba(166, 170, 250, 0.562);
    font-size: 24px;
    font-weight: 600;
    margin-left:auto
}

.img{
    height: 25px;
    margin: 0 1rem 0 0.5rem;
}

.activeLink {
    border-left: 8px solid rgb(31, 31, 127);
    height: 55px;
    width: calc(92% - 4px);
    border-radius: 5px;
    background-color: rgba(175, 175, 175, 0.253);
    margin: 4px 3px 4px 4px;
    text-decoration: none;
    padding: 0 0 0 3%;
}