.logo{
  text-align: center;
  position: relative;
  display: flex;
  padding: 10px 30px;
  height: 80px;
}

.mdp {

color: #15458A;
font-family: "RobotoFlex";
font-size: 32px;
font-weight: 800;
letter-spacing: 5.5px;

margin: auto;
position: relative;
display:inline-block;
background-image: linear-gradient(45deg, #15458A 20%, #6f748c 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.INS {
  color: #e1e1e1;
  
  font-family: "RobotoFlex";
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 3px;
  margin: auto;
  display:inline-block;
}

.img{
  display: inline-block;
  /* margin: 10px 0 0 0; */
  margin: auto;
  width: 60px; 
}

.upperLine {
  margin: auto;
  width: 90%;
	height: 1px;
	border: none;
	border-top: 2px solid #4f4f4f;
  border-radius: 2px;
}
