.logo{
  text-align: center;
  position: relative;
  display: flex;
  padding: 10px 40px;
  height: 80px;
}

.mdp {
color: #15458A;
font-family: "RobotoFlex";
font-size: 32px;
font-weight: 1000;
letter-spacing: 5.5px;
margin: auto;
display:inline-block;
}

.INS {
  color: #e1e1e1;
  
  font-family: "RobotoFlex";
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 3px;
  margin: auto;
  display:inline-block;
}

.img{
  display: inline-block;
  /* margin: 10px 0 0 0; */
  margin: auto;
  width: 60px; 
}
