.content {
    height: 68vh;
    width: 98%;
    margin-top: 1%;
    background-color: rgba(14, 14, 14, 0.192);
    border-radius: 15px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


.header {
    /* width: 100%; */
    align-self: flex-start;
    display: flex;
    margin: 1% 2%;
    align-items: center;
    font-size: min(1.5vw, 25px);
}

.back {
    color: rgba(243, 242, 242, 0.651);
}

.back:hover {
    background: rgb(83, 83, 236);
    border-radius: 144px;
}

.area{
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.newTopText {
    color: rgba(243, 242, 242, 0.815);
    letter-spacing: 1px;
    font-weight: 100;
    margin-left: 1%;
    max-width: 50vh;
    width: 60vh;
}



.remont_list{
    margin-top: 40px;
    background: rgba(128, 128, 128, 0.178);
    border-color: rgba(0, 0, 0, 0.459);
    border-style:solid;
    border-width: 1px;
    border-radius: 6px;
}

.remont_list_text{
    margin: 6px;
    color: rgba(214, 214, 214, 0.925);
    font-size: 16px;
    font-weight: 200;
    margin-left: 6px;
    letter-spacing: 1px;
}


.saveButton{
    margin-top: 40px;
    align-self: self-end;
}

.selectCount{
    margin-top: 30px;
}

.selectCriteria{
    margin-top: 30px;
}