.seches {
    height: 78%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(133, 141, 146, 0.1);
    margin: 10px;

}

.contrSech {
    margin: 5px 0 0 0;
    color: white;
    font-family: "RobotoFlex";
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 1;
}

.container {
    position: relative;
    padding: 20px 50px;
}

.input {

    border: 3px solid #fff;
    background: transparent;

    border-radius: 50px;
    outline: none;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

.close_btn {
    position: absolute;
    top: 27px;
    right: 80px;
    font-size: 35px;
    cursor: pointer;
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.5s ease;
}

::placeholder {
    /* Chrome/Opera/Safari */
    color: #ee3f3f;
    font-family: Roboto;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.input.active {
    opacity: 1;
    animation: animate 0.5s linear;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.5);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}