.upload_factors{
  z-index: 53;
}

.text{
  color: #e0e0e0;
  font-family: "RobotoFlex";
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 3% 0 5px 10px;
}

.img{
  margin: 0 0 0 5px;
  height: 15px;
  opacity: 0.9;
}
.drag{
  width: 30vh;
  height: 200px;
  background: #c22a2a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop{
  width: 30vh;
  height: 200px;
  background: rgb(226, 223, 223);
  display: flex;
  align-items: center;
  justify-content: center;
}

.iwantfile{
  background: rgb(22, 197, 57);
}


.lines_img{
  position: absolute;
  filter: grayscale(90%);
  opacity: 0.05;
  height: 90%;
  width: 85%;
  min-width: 74vh;
  max-width: 200vh;
  margin: -30% 0 0 -55%;
  z-index: 0;
}

.buttonSave{
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-right: 1px;
}