.text {
    color: #e0e0e0;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0 0 1vh 0;
}

.img_question {
    margin: 0 0 0 5px;
    height: 15px;
    opacity: 0.9;
}

.selecter {
    width: 100%;

    width: 100%;
    background: #e0e0e0;
}
