.content {
    display: flex;
    flex-direction: column;
    justify-content: left;


    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 10px; 
    margin-left: 2%;
    padding: 1% 2% 1% 2%;
    z-index: 1;
    max-height: 50%;
    max-width: 50%;
    width: max-content;
}

.sech_text {
    margin-bottom: 1%;
    color: rgba(243, 242, 242, 0.663);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
}

.vetv{
    color: rgba(197, 194, 194, 0.573);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 100;
}