.newSech {

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  color: #e0e0e0;
  font-family: "RobotoFlex";
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  /* background-image: url("https://kartinkof.club/uploads/posts/2022-09/1662184235_5-kartinkof-club-p-novie-i-krasivie-kartinki-neiroseti-5.jpg"); */
}

.header_img{
  position: absolute;
  width: 100rem;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
  filter: grayscale(90%);
  opacity: 0.2;
}

.text{
z-index: 0;
}