.app-wriper {
  display: grid;
  background-color: white;

  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 3px;

  /* grid-gap: 10px; */
}
